.dotgothic16-regular {
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body {
    background-image: url(/img/login.png);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center top;   
    background-attachment: fixed;
    overflow: hidden;
    position: relative;
    color: white;
}

.textbox{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 0.2vw solid #999;
    padding: 0.5vw 1vw;
    color:white;
    font-size: 60%;
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.textbox:focus {
    border-bottom-color: #e20000;
}

.all {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content: center;
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.log {
    position: relative;
    top: 6vh;
    font-size: clamp(15px, 4vw, 35px);
}

.h2name, .h2password {
    position: relative;
    font-size: clamp(15px, 4vw, 35px); 
    width: 100%;
    display: inline-block; 
}

.h2name {
    position: relative;
    top: 2vh;
    font-size: clamp(15px, 4vw, 35px);
    line-height: 5; 
}

.h2password {
    position: relative;
    bottom: 4vh;
    font-size: clamp(15px, 4vw, 35px);
    line-height: 1.5; 
}



.op_btn {
    position: absolute;
    top: 650px; 
    left: 50%; 
    transform: translateX(-50%); 
    cursor: pointer; 
}

.op_btn input[type="submit"] {
    border-color: #fff;
    border-style: solid;
    background-color: #00000000;
    color: #FFF;
    padding: 4px 30px; 
    transition: 0.1s;
    font-size: clamp(12px, 1.5vw, 24px); 
}


.back {
    position: absolute;
    top: 20px; 
    left: 20px;
    border-color: #fff;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.650);
    color: #FFF;
    padding: 4px 30px;
    text-align: center;
    transition: 0.1s;
    font-size: clamp(12px, 1.5vw, 24px);
}
