body{
    background-image: url(/img/login.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.kuro{
    background-color: rgba(0, 0, 0, 0.650);
    border: solid 0.3vw #ffffff;
    padding: 7vw 7vw;
    
    margin: 3vw;
    margin-top:14vh;
    margin-bottom:14vh;
    margin-left: 12vw;
    margin-right: 12vw;
}

.textbox{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 0.2vw solid #999;
    padding: 0.5vw 1vw;
}

.textbox:focus{
    border-bottom-color: #e20000;
}

.all{
    text-align: center;
}

.log{
    position: relative;
    bottom: 7vw;
}

.h2name{
    position: relative;
    bottom: 3vw;
}
