body{
    background-image: url(/img/login.png);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position:center top;   
    background-attachment: fixed;
    overflow:hidden;
    position:relative;
    color:white;
}

.textbox{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 0.2vw solid #999;
    padding: 0.5vw 1vw;
    
    
}

.textbox:focus{
    border-bottom-color: #e20000;
}

.all{
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content: center;
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.log{
    position:relative;
    top: 6vh;
                  /* min <= x <= max */
    font-size: clamp(15px, 4vw, 35px);
}

.h2name{
    position:relative;
    top: 2vh;
                  /* min <= x <= max */
    font-size: clamp(15px, 4vw, 35px);
}

.h2password{
    position:relative;
    bottom:4vh;
                  /* min <= x <= max */
    font-size: clamp(15px, 4vw, 35px);
}

.op_btn{
    position:relative;
    bottom:8vh;
}

.btn1{
    width: 10em;
    height:3em;
}

.btn2{
    position:relative;
    left:70vh;
}