body{
    background-image: url(/img/mainmenu.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.kuro{
    background-color: rgba(0, 0, 0, 0.650);
    border: solid 3px #ffffff;
    padding: 100px 100px;
    margin: 30px;
    margin-top:80px;
    margin-left:120px;
    margin-right:120px;
}