body{
    background-image: url(/img/login.png);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    margin: 0px;
}

.op_btn {
    margin: 0px;
    padding: 2px 6px;
    height: 32px;
}

.all{
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content: center;
}

.room_list {
    margin: 0px auto 50px auto;;
}

.opration {
    display: flex;
    justify-content: space-between;
    width: 50vw;
    margin: 0px auto;
}

button {
    border-color: #fff;
    border-style: solid;
    background-color: #00000000;
    color: #FFF;
    padding: 1vw 3vw;
    text-align: center;
    transition: 0.1s;
    font-size: clamp(12px, 1.5vw, 24px);
}

span {
    display: block;
    border: 2px solid #fff;
    background-color: #00000000;
    color: #FFF;
    padding: 6px 18px;
    text-align: center;
    transition: 0.1s;
    font-size: clamp(12px, 1.5vw, 24px);
}

.team_name {
    padding: auto 80px;
    margin: 4px 0;
    width: 50vw;
}

.team_user {
    padding: auto 80px;
    margin: 4px 0;
    width: 25vw;
}

button:hover {
    cursor: pointer;
    background-color: #00000080;
}

button:active {
    cursor: pointer;
    background-color: #ffffff80;
    color: #000;
}
