body{
    background-image: url(/kansho/JINTAMA/img/login.png);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    margin: 0px;
}

.op_btn {
    margin: 0px;
    padding: 2px 6px;
    height: 32px;
}

.all{
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content: center;
}

.room_list {
    margin: 0px auto 50px auto;
}

tr {
    display: flex;
    justify-content: space-between;
    width: 40vw;
}

.opration {
    display: flex;
    justify-content: space-between;
    width: 50vw;
    margin: 0px auto;
}

button {
    border-color: #fff;
    border-style: solid;
    background-color: #00000000;
    color: #FFF;
    padding: 1vw 3vw;
    text-align: center;
    transition: 0.1s;
    font-size: min(1.5vw, 24px);
}
.submitbtn{
    border-color: #fff;
    border-style: solid;
    background-color: #00000000;
    color: #FFF;
    padding: 1vw 3vw;
    text-align: center;
    transition: 0.1s;
    font-size: min(1.5vw, 24px);
}

.team_name {
    padding: 8px;
    margin: 4px;
    width: 50vw;
    font-size: x-large;
    background-color: #00000000;
    color: #FFF;
    border: 2px solid #FFF;
    transition: 0.5s;
}

.team_name:hover {
    border: 2px #8f8 solid;
    border-radius: 0%;
}

.team_name:focus {
    background-color: #00000080;
    border: 10px #4c4 solid;
    border-radius: 4px;
    outline: 0;
}

.radios {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%); 
    margin: -1px;
}

.nums{
    padding: 0.75vw 0.5vw 0.25vw 1vw;
    font-size: 6vh;
    margin: 0;
    width: auto;
    transition: 0.1s;

    border: 2px solid #FFF;
}

button:hover, .nums:hover {
    cursor: pointer;
    background-color: #00000080;
}

button:active, .nums:active {
    cursor: pointer;
    background-color: #ffffff80;
    color: #000;
}

.radios:checked + .nums{
    cursor: pointer;
    background-color: #88ff8880;
    border: 2px solid #8f8;
    color: #FFF;
}