body{
    background-image: url(/img/login.png);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    margin: 0px;
}

.op_btn {
    margin: 0px;
    padding: 2px 6px;
    height: 32px;
}

.all{
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content: center;
}

.room_list {
    margin: 0px auto 50px auto;
}

tr {
    display: flex;
    justify-content: center;
    width: 40vw;
}

.opration {
    display: flex;
    justify-content: space-between;
    width: 50vw;
    margin: 0px auto;
}

button {
    border-color: #fff;
    border-style: solid;
    background-color: #00000000;
    color: #FFF;
    padding: 1vw 3vw;
    text-align: center;
    transition: 0.1s;
    font-size: min(1.5vw, 24px);
}

span {
    display: block;
    width: 25vw;
    border: 2px solid #fff;
    background-color: #00000000;
    color: #FFF;
    padding: 6px 18px;
    text-align: center;
    transition: 0.1s;
    font-size: clamp(12px, 1.5vw, 24px);
}

.member_name {
    padding: 8px;
    margin: 4px;
    width: 25vw;
    font-size: x-large;
    background-color: #00000000;
    color: #FFF;
    border: 2px solid #FFF;
    transition: 0.5s;
}

button:hover, .nums:hover {
    cursor: pointer;
    background-color: #00000080;
}

button:active, .nums:active {
    cursor: pointer;
    background-color: #ffffff80;
    color: #000;
}

.radios:checked + .nums{
    cursor: pointer;
    background-color: #88ff8880;
    border: 2px solid #8f8;
    color: #FFF;
}