body{
    background-image: url(/kansho/JINTAMA/img/setting.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow:hidden;
}

.kuro{
    background-color: rgba(0, 0, 0, 0.650);
    border: solid 3px #ffffff;
    padding: 100px 100px;
    height: 20vw;
    margin:  12% auto;
    width:65vw;
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
   
    
}


a{
    text-decoration: none;
    color:#ffffff;
    margin:auto;
    
  }

a:hover{
    color: yellow;
    
    
}

.mini{
    width:45vw;
    margin: 2vw auto;
    font-size: 3vw;

}


.start{
    font-size: 5vw;
    margin: auto;
    width:45vw;
    
}

.delete{
    color: red;
    font-size: 2vw;
    position:relative;
    left:52vw;
    bottom: 6vw;
}

.delete:hover{
    color:yellow;
}

.kuro{
    color:white;
    font-size: 3vw;
}

button {
    border-color: #fff;
    border-style: solid;
    background-color: #00000000;
    color: #FFF;
    padding: 6px 18px;
    text-align: center;
    transition: 0.1s;
    font-size: clamp(12px, 1.5vw, 24px);
    float:left;
    position: relative;
    left:15vw;
    bottom: 4vw;
    width: 8vw;
    margin:1vw 0vw 0vw 7vw;
    height:5vw;
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
        
}

button:hover ,.do:hover{
    cursor: pointer;
    background-color: #00000080;
}

button:active ,.do:hover{
    cursor: pointer;
    background-color: #ffffff80;
    color: #000;
}

.username{
    position:relative;
    bottom: 5vw;
    left:10vw;

}

.username input{
    padding: auto 80px;
    margin: 4px 0;
    width: 30vw;
    font-size: larger;
    background-color: #00000000;
    color: #FFF;
    border: 2px solid #FFF;
    transition: 0.5s;
    
}   
.username input:hover {
    border: 2px #8f8 solid;
    border-radius: 0%;
}

.username input:focus{
    background-color: #00000080;
    border: 10px #4c4 solid;
    border-radius: 4px;
    outline: 0;
}

.ranking{
    position:relative;
    bottom: 4vw;
    left:10vw;
}

.ranking input{
   margin:2vw 4vw;
}

/* .radi{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%); 
    margin: -1px;
}

.do{
    padding: 0.5vw 1vw;
    font-size: 6vh;
    margin: 0;
    width: auto;
    transition: 0.1s;
    border: 2px solid #FFF;
} */
.radi {
    appearance: none;
    position: absolute;
    display:inline-block;
    margin-left: 20px;
  }

  label {
    margin-left: 100px;
    cursor: pointer;
    padding-left: 30px;
    position: relative;
  }
  
  
  label::before,
  label::after {
    content: "";
    display: block; 
    position: absolute;
  }
  
  label::before {
    background-color: #000000;
    border-radius: 0%;
    border: 1px solid #ffffff;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    top: 50%;
    left: 5px;
  }
  
  label::after {
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-color: #ffffff;
    opacity: 0;
    height: 5px;
    width: 10px;
    transform: rotate(-45deg);
    top: 30px;
    left: 10px;
  }
  
  input:checked + label::after {
    opacity: 1;
  }



