body {
    background-image: url(/kansho/JINTAMA/img/setting.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.kuro {
    background-color: rgba(0, 0, 0, 0.650);
    border: solid 3px #ffffff;
    padding: 0;
    height: 75vh;
    margin: 12% auto;
    width: 85vw;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 3vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


a {
    text-decoration: none;
    color: #ffffff;
    padding: 0 auto;
}

a:hover {
    color: yellow;
}

.mini {
    width: 45vw;
    margin: 2vw auto;
    font-size: 3vw;

}


.start {
    font-size: 5vw;
    margin: auto;
    width: 45vw;

}

.delete {
    font-size: 2vw;
    position: relative;
    left: 32vw;
    bottom: 12vw;
}

.delete-color {
    color: red;
    transition: 0.1s;
}

.delete-color:hover {
    color: yellow;
}

.operation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

button {
    border-color: #fff;
    border-style: solid;
    background-color: #00000000;
    color: #FFF;
    padding: 6px 18px;
    text-align: center;
    transition: 0.1s;
    font-size: clamp(12px, 1.5vw, 24px);
    float: left;
    position: relative;
    width: 8vw;
    margin: 0 3vw 0 3vw;
    height: 5vw;
    font-weight: 400;
    font-style: normal;
}

button:hover,
.do:hover {
    cursor: pointer;
    background-color: #00000080;
}

button:active,
.do:hover {
    cursor: pointer;
    background-color: #ffffff80;
    color: #000;
}

.username {
    position: relative;
    /* bottom: 5vw;
    left: 10vw; */

}

.username input {
    padding: auto 80px;
    margin: 4px 0;
    width: 30vw;
    font-size: larger;
    background-color: #00000000;
    color: #FFF;
    border: 2px solid #FFF;
    transition: 0.5s;
}

.username input:hover {
    border: 2px #8f8 solid;
    border-radius: 0%;
}

.username input:focus {
    background-color: #00000080;
    border: 10px #4c4 solid;
    border-radius: 4px;
    outline: 0;
}

.ranking {
    position: relative;
    /* bottom: 4vw;
    left: 10vw; */
}

.ranking input {
    margin: 2vw 4vw;
}

/* .radi{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%); 
    margin: -1px;
}

.do{
    padding: 0.5vw 1vw;
    font-size: 6vh;
    margin: 0;
    width: auto;
    transition: 0.1s;
    border: 2px solid #FFF;
} */
.radi {
    appearance: none;
    position: absolute;
    display: inline-block;
    margin-left: 20px;
}

label {
    margin-left: 100px;
    cursor: pointer;
    padding-left: 30px;
    /* position: relative; */
}


label::before,
label::after {
    content: "";
    display: block;
    position: absolute;
}

label::before {
    background-color: #000000;
    border-radius: 0%;
    border: 1px solid #ffffff;
    width: 1.5vw;
    height: 1.5vw;
    /* transform: translateY(-50%); */
    /* top: 50%; */
    /* left: 5px; */
}

label::after {
    border-bottom: 0.4vw solid #ffffff;
    border-left: 0.4vw solid #ffffff;
    border-color: #ffffff;
    transition: 0.1s;
    opacity: 0;
    height: 0.5vw;
    width: 1vw;
    transform: rotate(-45deg);
    top: 1vw;
    left: 0.5vw;
}

input:checked+label::after {
    transition: 0.1s;
    opacity: 1;
}