body{
    background-image: url("/kansho/JINTAMA/img/resault.png");
    background-size: cover;
}
.ranktext{
    color: #ffffff;
   font-size: 80px;
   -webkit-text-stroke: 1.5px #030303;
}
.rank{
    text-align: center;
}

.rankmain{
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.650);
    border: solid 3px #ffffff;
    width: 80vw;
    height: 67vh;
}

.ranksabu{
    background-color: rgba(0, 0, 0, 0.650);
    border: solid 3px #ffffff;
    color: #ffffff;
    text-align: center;
    width: 30vw;
    height:55vh;
    margin:  8vh auto; 
  
    display: inline-block;
}
.nexttext{
    color: #ffffff;
    display: inline-block;
    padding-left: 90vw;
    
}

.icon{
    width: 20vw;
    padding: 0 4vw;
    height: 45vh;
}

